<%= form_with model: @event do |form| %>
  <div class="field">
    <%= form.label :name, "Event Name:" %>
    <%= form.text_field :name %>  
  </div>

  <div class="field">
    <%= form.label :location, "Event Location:" %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :date, "Start Time:" %>
    <%= form.datetime_local_field :date %>
  </div>

  <div class="actions">
    <%= form.submit "Create Event" %>
  </div>

<% end %>
