<div id="event">
<h1>Event Details</h1>
<p>Name: <%= @event.name %></p>
<p>Location: <%= @event.location %></p>
<p>Date: <%= @event.date %></p>
<p>Attending Users: </p>
<ul>
<% EventAttending.all.each do |event_attending| %>
  <% if event_attending.attended_event_id == @event.id %>
    <li><%= User.find(event_attending.event_attendee_id).username %></li>
  <% end %>
<% end %>
</ul>

<%= form_with model: @event_attending, url: "/event_attendings" do |form| %>
  <%= form.hidden_field :event_attendee_id, value:current_user.id %>
  <%= form.hidden_field :attended_event_id, value:@event.id %>

  <div class="actions">
    <%= form.submit "Attend Event" %>
  </div>
<% end %>
</div>
